<ion-content class="ion-padding">
  <ion-list>
    <ion-radio-group>
      <ion-item *ngFor="let color of colors; index as i">
        <ion-label>Code: {{color.code}}, Name: {{color.name}}</ion-label>
        <ion-radio (ionSelect)="setColor(i)"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <p></p>
    <ion-text [ngStyle]="{'background-color':selectedColor?.code}">
      Selected color
    </ion-text>
    <ion-list *ngIf="selectedColor?.shades">
      <ion-text *ngFor="let shadecolor of selectedColor?.shades" 
        [ngStyle]="{'background-color':shadecolor}">This is shadecolor
      </ion-text>
    </ion-list>
  </ion-list>
</ion-content>